.ant-form-item-label label {
  height: 15px !important;
}

.ant-form-item-control {

}

.ant-card-body .ant-row {
  margin-top: 5px;
}

.ant-input-affix-wrapper {
  margin-top: 0px !important;
}

.ant-input-group-wrapper {
  margin-top: 0px !important;
}

.ant-tabs-nav {
  margin-bottom: 0px !important;
}

.ant-card-head {
  min-height: 32px !important;
  height: 32px !important;
}

.FormGenerico-miolo-Card .ant-card-head {
  border-bottom: none;
}